<%= render'/shared/navbar', cocktail: @cocktail %>
<%= render'/shared/banner' %>

<div class="container">
  <div class="row col-md-4 col-md-offset-4">
    <%= link_to "+ Add a new cocktail", new_cocktail_path %>
    <% @cocktails.each do |cocktail| %>
    <p><%= cocktail.name %></p>
    <%= link_to "See more details", cocktail  %>

    <% end %>
  </div>
</div>
