<div class="container">
  <div class="row col-md-4 col-md-offset-4">
    <h2><%= @cocktail.name %></h2>
    <h3><%= "Ingredients:" %></h3>
      <% @cocktail.doses.each do |dose| %>
        <p>
          <%= "#{dose.description} : #{dose.ingredient.name}" %>
          <%= link_to "", cocktail_dose_path(@cocktail, dose), method: :delete ,class:"fas fa-trash-alt"%>
      </p>
      <% end %>
    <%= link_to "+", new_cocktail_dose_path(@cocktail)   %>&nbsp&nbsp&nbsp
    <%= link_to "Return", root_path  %>
  </div>
</div>
