<div class="navbar-wagon">

  <div class="navbar-wagon-right hidden-xs hidden-sm">

    <!-- Links -->

    <%= form_tag("cocktail", method: "get") do %>
      <div class= "navbar-wagon-item navbar-wagon-link inline-block">
      <%= label_tag(:name, "Search for:") %>
      <%= text_field_tag(:name) %>
      <%= submit_tag("Search") %>
       </div>
    <% end %>
    <%= link_to "Add new cocktail", new_cocktail_path, class: "navbar-wagon-item navbar-wagon-link" %>


    </div>
  </div>


