<div class="banner-cocktail edit-details">
  <div class="container">
    <div class="row col-md-4 col-md-offset-4 background-color">
     <h3><%= 'Add your ingredients:'%></h3>
    <%= simple_form_for([@cocktail, @dose]) do |f| %>
     <%= f.input :description, placeholder:"1 tablespoon", label:"Quantity:", error: false %>
     <%= f.association :ingredient, error: false %>
     <% if @dose.errors.any? %>
       <% @dose.errors.full_messages.each do |message| %>
         <p><%= "* #{message}" %></p>
       <% end %>
      <% end %>
        <%= f.submit %>
    <% end %>
    <%= link_to " ", @cocktail, class:"fas fa-undo-alt return"  %>
  </div>
  </div>
</div>


